.primary-button {
    


    border: 2px solid white;
    border-radius: 40px;
    transition-duration: .2s;
    background-color: #585CE9;
    margin: 3rem 0;
    padding: 15px 50px;
    text-align:center;
    display: table;

  }

.button-text{
  color: white;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
}

  .button:hover {
  /* update text color and background color */
  color:white;
  background-color:black;
  
   /* transitions */
  transition-duration: .2s;
  -webkit-transition-duration: .11s;
  -moz-transition-duration: .2s;
  }